@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
$font-family: 'Roboto', sans-serif;

$background-converters: #f9f9f9;
$border-converters: #e9e9e9;
$theme-color: #012933;
$theme-color-light: #6096a3;
$white: #fff;
$black: #000;
$red: #ea6b6b;
$light-red: #fce5e5